<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>

    <ul class="bg-yellow-100">
        <% posts.forEach(post => { %>
          <li>
            <strong class="italic"><%= post.title %> </strong><br><br><p class="font-serif"><%= post.body %>
          </li></p>
        <% }) %>
      </ul>

<%- include('./partials/footer') %></body>
</html>